@use 'sass:map';
@use '../utils/functions' as fn;
@use '../utils/variables' as var;
@use '../utils/mixins' as mx;
@use '../utils/placeholders';

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.containerImg {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    width: 335px;
    height: 213px;
    background-color: fn.get-color('accent-primary');
    overflow: hidden;
}

.addImg {
    margin-top: 30px;
    width: 210px;
}

.addPetContainer {
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    width: 335px;
    padding: 28px 20px 20px 20px;
    background-color: fn.get-color('light');
}

.addPetTitle {
    @extend %subtitle-mobile;

    margin-bottom: 24px;
}

.subtitleMini {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0%;
    color: fn.get-color('dark-secondary');
}

.iconsContainer {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 10px
}

.female {
    @include mx.frame(32px, 32px, true);
    background-color: fn.get-color('red-color');
    position: relative;

}

.iconFemale {
    fill: transparent;
    stroke: fn.get-color('light');
    width: 8px;
}

.male {
    @include mx.frame(32px, 32px, true);
    background-color: fn.get-color('light-blue');
    position: relative;
}

.iconMale {
    fill: transparent;
    stroke: fn.get-color('blue-color');
}

.health {
    @include mx.frame(32px, 32px, true);
    background-color: fn.get-color('accent-secondary');
    position: relative;
}

.iconHealth {
    fill: transparent;
    stroke: fn.get-color('accent-primary');
}

.addPetAvatar {}

.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.containerUpload {
    display: flex;
}

.containerData {
    display: flex;
    justify-content: space-between;
}

.containerBtn {
   display: flex;
   gap: 8px;
   margin-left: auto;
}

.btnSubmit {
    width: 100px;
}

