@use 'sass:map';
@use '../utils/functions' as fn;
@use '../utils/variables' as var;
@use '../utils/mixins' as mx;
@use '../utils/placeholders';

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.containerImg {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    width: 335px;
    height: 213px;
    background-color: fn.get-color('accent-primary');
    overflow: hidden;
}

.addImg {
    margin-top: 30px;
    width: 210px;
}

.addPetContainer {
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    width: 335px;
    padding: 28px 20px 20px 20px;
    background-color: fn.get-color('light');
}

.addPetTitle {
    @extend %subtitle-mobile;

    margin-bottom: 24px;
}

.subtitleMini {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0%;
    color: fn.get-color('dark-secondary');
}

.iconsContainer {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 10px
}

.female {
    @include mx.frame(32px, 32px, true);

    background-color: fn.get-color('light-red');
    position: relative;
}

.iconFemale {
    fill: transparent;
    width: 10px;
    stroke: fn.get-color('red-color');
}

.male {
    @include mx.frame(32px, 32px, true);

    background-color: fn.get-color('light-blue');
    position: relative;
}

.iconMale {
    fill: transparent;
    stroke: fn.get-color('blue-color');
}

.health {
    @include mx.frame(32px, 32px, true);

    background-color: fn.get-color('accent-secondary');
    position: relative;
}

.iconHealth {
    fill: transparent;
    stroke: fn.get-color('accent-primary');
}

.addPetAvatar {
    @include mx.frame(68px, 68px, true);

    background-color: fn.get-color('accent-secondary');
    margin: 0 auto;
    margin-bottom: 16px;
    position: relative;
}

.iconPaw {
    fill: fn.get-color('accent-primary');
    position: absolute;
    top: 18px;
    left: 22px;
}

.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.containerUpload {
    display: flex;
    gap: 8px;
}

.inputUrl {
    width: 170px; 
}

.uploadInput {
    position: relative;
    width: 128px;
}

.uploadButton {
    width: 117px;
    padding: 14px;
}

.iconUpload {
    position: absolute;
    top: 14px;
    right: 2px;
    fill: transparent;
    stroke: fn.get-color('accent-primary');
}

.containerData {
    display: flex;
    gap: 8px;
}

.inputData {
    width: 144px;
}

.containerBtn {
   display: flex;
   gap: 8px;
   margin-left: auto;
   margin-top: 20px;
}

.btnSubmit {
    width: 100px;
}

.btnBack {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 34px;
    border-radius: 30px;
    border: none;
}

.btnBack:active,
.btnBack:hover {
    background-color: fn.get-color('light-blue');
}

.spanBtn {
    color: fn.get-color('dark-primary');
}

@include mx.mq('md') { 
    .wrapper {
        gap: 16px;
    }
    
    .containerImg {
        width: 704px;
        height: 248px;
    }
    
    .addImg {
        width: 297px;
    }
    
    .addPetContainer {
        width: 704px;
        padding: 40px 136px;
    }
    
    .addPetTitle {
        font-size: 32px;
        margin-bottom: 42px;
    }
    
    .iconsContainer {
        margin-bottom: 0;
    }
    
    .female {
        @include mx.frame(40px, 40px, true);
    }
    
    .male {
        @include mx.frame(40px, 40px, true);
    }
    
    .health {
        @include mx.frame(40px, 40px, true);
    }
    
    .addPetAvatar {
        @include mx.frame(86px, 86px, true);
    }
    
    .iconPaw {
        top: 28px;
        left: 28px;
        width: 32px;
    }
    
    .form {
        width: 432px;
        gap: 18px;
    }
    
    .inputUrl {
       width: 278px;
    }
    
    .uploadButton {
        position: relative;
        width: 146px;
    }

    .iconUpload {
        right: -4px;
    }
    
    .containerData {
        display: flex;  
    }
    
    .inputData {
        width: 210px;
    }

    .btnSubmit {
        width: 170px;
    }
    
    .btnBack {
        width: 170px;
    }
}

@include mx.mq('lg') { 
    .wrapper {
        flex-direction: row;
        gap: 32px;
    }
    
    .containerImg {
        width: 592px;
        height: 648px;
    }
    
    .addImg {
        width: 512px;
        height: 648px;
    }
    
    .addPetContainer {
        width: 704px;
        height: 648px;
        padding: 40px 136px;
    }
    
    .addPetTitle {
        font-size: 32px;
        margin-bottom: 42px;
    }
    
    .iconsContainer {
        margin-bottom: 0;
    }
    
    .female {
        @include mx.frame(40px, 40px, true);
    }
    
    .male {
        @include mx.frame(40px, 40px, true);
    }
    
    .health {
        @include mx.frame(40px, 40px, true);
    }
    
    .addPetAvatar {
        @include mx.frame(86px, 86px, true);
    }
    
    .iconPaw {
        top: 28px;
        left: 28px;
        width: 32px;
    }
    
    .form {
        width: 432px;
        gap: 18px;
    }
    
    .inputUrl {
       width: 278px;
    }

    .iconUpload {
        right: -4px;
    }
    
    .containerData {
        display: flex;  
    }
    
    .inputData {
        width: 210px;
    }

    .btnSubmit {
        width: 170px;
    }
    
    .btnBack {
        width: 170px;
    }
}