@use '../utils/functions' as fn;
@use '../utils/variables' as var;
@use '../utils/mixins' as mx;
@use '../utils/placeholders';

.containerAuth {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.btnAuth {
    width: 120px;
}
