@use 'sass:map';
@use '../utils/functions' as fn;
@use '../utils/variables' as var;
@use '../utils/mixins' as mx;
@use '../utils/placeholders';

.containerButton {
    display: flex;
    gap: 10px;
}

.learnBtn {
  text-transform: capitalize;
}

.buttonHeart {
  @include mx.frame(30px, 30px, true);
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: fn.get-color('accent-secondary');

  @include mx.transition(all, 300ms, ease-in-out);

  .iconHeart {
    fill: transparent;
    stroke: fn.get-color('accent-primary');
    @include mx.transition(all, 300ms, ease-in-out);
  }

  &:hover,
  &:active {
    background-color: fn.get-color('accent-primary');

    .iconHeart {
      stroke: fn.get-color('light'); 
    }
  }
}