.loaderContainer {
    background-image: url("../../shared/images/Loader/main@2x.jpg"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}


