@use 'sass:map';
@use '../utils/functions' as fn;
@use '../utils/variables' as var;
@use '../utils/mixins' as mx;
@use '../utils/placeholders';

.linkLogo {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: map.get(var.$font-weights, "Bold");
    line-height: 1;
    letter-spacing: -0.04em;
    color: fn.get-color('dark-primary');
}

.iconHeart {
    fill: fn.get-color('accent-primary');
}

.logoHohe {
    color: fn.get-color('light');
}

.iconLogoHome {
    fill: fn.get-color('light');
}

@include mx.mq('md') {
    .linkLogo {
        font-size: 28px;
    }
}