@use '../utils/functions' as fn;
@use '../utils/variables' as var;
@use '../utils/mixins' as mx;
@use '../utils/placeholders';

.modalCongrats {
    width: 335px;
    border-radius: 30px;
    background-color: fn.get-color('light-bg');
}