@use '../utils/functions' as fn;
@use '../utils/variables' as var;
@use '../utils/mixins' as mx;
@use '../utils/placeholders';

.open {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 200px;
    align-items: center;
    padding: 204px 38px 40px 38px;
    max-width: 210px;
    width: 100%;
    height: 800px;
    // background-color: ;
}