@use '../utils/functions' as fn;
@use '../utils/variables' as var;
@use '../utils/mixins' as mx;
@use '../utils/placeholders';

.modalCongrats {
    width: 335px;
    height: 322px;
    border-radius: 30px;
    background-color:  fn.get-color('light');
}