@use '../utils/functions' as fn;
@use '../utils/variables' as var;
@use '../utils/mixins' as mx;
@use '../utils/placeholders';

.sectionInformation {
    width: 335px;
    padding: 40px 20px;
    border-radius: 30px;
    background-color: fn.get-color('light');
}

.titleInformation {
    @extend %subtitle;

    font-size: 20px;
    letter-spacing: 0%;
    margin-bottom: 20px;
}

.avatar {
    @include mx.frame(80px, 80px, true);
    
    background-color: fn.get-color('accent-secondary');
    margin: 0 auto;
    position: relative;
    margin-bottom: 20px;
}

.iconAvatar {
    fill: fn.get-color('light');
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.userPhoto {
    display: block;
    margin: 0 auto;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
  }

.formContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.containerUpload {
   display: flex;
}

.containerUpload {
    display: flex;
    gap: 8px;
}

.inputUrl {
    width: 170px; 
}

.uploadInput {
    position: relative;
    width: 128px;
}

.uploadButton {
    display: flex;
    justify-content: flex-start;
    width: 117px;
    padding: 16px;
    background-color: fn.get-color('accent-secondary');
    border: none;
}

.iconUpload {
    position: absolute;
    top: 14px;
    right: 6px;
    fill: transparent;
    stroke: fn.get-color('accent-primary');
}

.btnProfile {
    text-transform: capitalize;
}

.userPhoto {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
  }

@include mx.mq('md') {
    .sectionInformation {
        width: 480px;
        padding: 50px;
    }

    .avatar {
        @include mx.frame(86px, 86px, true);
    
        margin-bottom: 12px;
    }

    .inputUrl {
        width: 226px; 
    }

    .uploadButton {
        width: 146px;
    }
}