@use '../utils/functions' as fn;
@use '../utils/variables' as var;
@use '../utils/mixins' as mx;
@use '../utils/placeholders';

.containerNav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.containerNav .whiteText{
    color: fn.get-color('light');
    border: 1px solid fn.get-color('light');
}

.containerNav .whiteText:active,
.containerNav .whiteText:hover,
.containerNav .whiteText:focus {
    border: 1px solid fn.get-color('dark-secondary');
    color: fn.get-color('dark-primary');
}

.headerLink {
    @extend %main-text;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 50px;
    border: 1px solid fn.get-color('light');
    border-radius: 30px;

    color: fn.get-color('light');
}

.headerActive:active,
.headerActive:hover,
.headerActive:focus {
    border: 1px solid fn.get-color('dark-secondary');
    color: fn.get-color('dark-primary');
}


@include mx.mq('lg') {
.containerNav {
    flex-direction: row;
}

.headerLink {
    border: 1px solid fn.get-color('dark-secondary');

    color: fn.get-color('dark-primary');
}

}