@use 'sass:map';
@use '../utils/functions' as fn;
@use '../utils/variables' as var;
@use '../utils/mixins' as mx;
@use '../utils/placeholders';

.titleNews {
  @extend  %subtitle-mobile;

  font-size: 28px;
  margin-bottom: 20px;
}

@include mx.mq('md') { 

    .titleNews {
       font-size: 54px;
       margin-bottom: 44px;
    }

}

@include mx.mq('lg') { 

  .titleNews {
     margin-bottom: 60x;
  }

}

