@use 'sass:map';
@use '../utils/functions' as fn;
@use '../utils/variables' as var;
@use '../utils/mixins' as mx;
@use '../utils/placeholders';


.titleNotices {
 @extend %subtitle-mobile;

 margin-bottom: 40px;
}

.containerForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12px;
    width: 335px;
    border-radius: 30px;
    padding: 20px;
    background-color: fn.get-color('accent-secondary');
}

.container {
    display: flex;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 295px;
    margin: 0 auto;
}

.searchField {
    width: 295px;
    border: none;
    margin: 0 auto;
}

.containerSelect {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}

.inputSearch {
    position: relative;
 }
 
 .iconSearch {
    position: absolute;
     top: 50%;
     left: 90%;
     transform: translate(-50%, -50%);
     fill: transparent;
     stroke: fn.get-color('dark-primary');
 }

 .locationSearch {
    border: none;
 }

 .border {
    width: 100%;
    height: 1px;
    margin: 20px 0;
    background-color: fn.get-color('dark-secondary');
}



@include mx.mq('md') { 

    .titleNotices {

        margin-bottom: 44px;
        font-size: 54px;
       }

       .containerForm {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "search category"
            "type location";
        width: 704px;
        padding: 32px;
    }

    .searchField {
        grid-area: search;
        width: 265px;
        align-self: start;
    }

    .containerSelect {
        display: flex; 
        align-items: center;
        justify-content: center;
        width: 340px;
        grid-area: category;
        margin: 0;
    }

    .typeSelect {
        grid-area: type;
    }

    .locationSearch {
        grid-area: location;
    }
}
