@use 'sass:map';
@use '../utils/functions' as fn;
@use '../utils/variables' as var;
@use '../utils/mixins' as mx;
@use '../utils/placeholders';


.titleNotices {
 @extend %subtitle-mobile;

 margin-bottom: 40px;
}

.containerForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12px;
    width: 335px;
    border-radius: 30px;
    padding: 20px;
    background-color: fn.get-color('accent-secondary');
}

.container {
    display: flex;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 295px;
    margin: 0 auto;
}

.searchField {
    width: 295px;
    border: none;
    margin: 0 auto;
}

.containerSelect {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}

.categorySelect {
    width: 140px;
}

.genderSelect {
    width: 140px;
}

.containerTypeLocation {
    display: flex;
    flex-direction: column;
    gap: 12px;
} 

.inputSearch {
    position: relative;
 }
 
 .iconSearch {
    position: absolute;
     top: 50%;
     left: 90%;
     transform: translate(-50%, -50%);
     fill: transparent;
     stroke: fn.get-color('dark-primary');
 }

 .locationSearch {
    border: none;
 }

 .border {
    width: 100%;
    height: 1px;
    margin: 20px 0;
    background-color: fn.get-color('dark-secondary');
}



@include mx.mq('md') { 

    .titleNotices {

        margin-bottom: 44px;
        font-size: 54px;
       }

       .containerForm {
        width: 704px;
        padding: 32px;
    }

    
    .form {
        gap: 16px;
        width: 640px;
    }

    .conteinerSearchSelect {
        display: flex;
        gap: 16px;
    }

    .searchField {
        width: 265px;
        margin-left: 0;
    }

    .containerSelect {
        align-items: center;
        gap: 16px;
        margin: 0;
    }

    .categorySelect {
        width: 170px;
    }

    .genderSelect {
        width: 170px;
    }

    .containerTypeLocation {
        flex-direction: row;
        gap: 16px;
    }

    .inputType {
        width: 190px;
    }

    .locationSearch {
       width: 227px;
    }

    .containerRadioButton {
        margin-right: auto;
    }
}

@include mx.mq('lg') { 

    .containerForm {
        width: 1216px;
        padding: 40px;
        justify-content: flex-start;
    }

    .form {
        width: 1120px;
        flex-direction: row;
        gap: 16px;
    }
}