@use 'sass:map';
@use '../utils/functions' as fn;
@use '../utils/variables' as var;
@use '../utils/mixins' as mx;
@use '../utils/placeholders';


.titleNotices {
 @extend %subtitle-mobile;

 margin-bottom: 40px;
}

.containerForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12px;
    width: 335px;
    border-radius: 30px;
    padding: 20px;
    background-color: fn.get-color('accent-secondary');
}

.container {
    display: flex;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 295px;
    margin: 0 auto;
}

.searchField {
    width: 295px;
    border: none;
    margin: 0 auto;
}

.containerSelect {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}

.categorySelect {
    width: 140px;
}

.genderSelect {
    width: 140px;
}

.containerTypeLocation {
    display: flex;
    flex-direction: column;
    gap: 12px;
} 

.inputSearch {
    position: relative;
 }
 
 .iconSearch {
    position: absolute;
     top: 50%;
     left: 90%;
     transform: translate(-50%, -50%);
     fill: transparent;
     stroke: fn.get-color('dark-primary');
 }

 .locationSearch {
    border: none;
 }

 .border {
    width: 100%;
    height: 1px;
    margin: 20px 0;
    background-color: fn.get-color('dark-secondary');
}

.noticesList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 40px 0;
}

.noticesItem {
   width: 335px;
   height: auto;
   padding: 24px;
   background-color: fn.get-color('light');
   border-radius: 16px;
}

.noticesImage {
  width: 300px;
  height: 200px;
  border-radius: 16px;
  margin-bottom: 24px
}

.containerTitle {
   display: flex;
}

.noticesTitle {
    @extend %subtitle;

    font-size: 16px;
    margin-bottom: 8px;
    margin-right: auto;
}

.noticesPopular {
    @extend %text;

    font-size: 14px;
    margin-right: 4px;
}

.iconStar {
  fill: fn.get-color('accent-primary');
}

.containerInfo {
    display: flex;
    gap: 14px;
    margin-bottom: 16px;
}

.description {
    display: flex;
    flex-direction: column;
    gap: 2px;
    font-size: 12px;
}

.spanDescription {
    font-size: 10px;
    color: fn.get-color('dark-light');
}

.comment {
    @extend %text;

    font-size: 14px;
    margin-bottom: 16px;
}

.price {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0%;
    margin-bottom: 12px;
}

.containerButton {
    display: flex;
    gap: 10px;
}

.buttonHeart {
    @include mx.frame(46px, 46px, true);

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: none;
    border: none;
    background-color: fn.get-color('accent-secondary');

    @include mx.transition(all, 300ms, ease-in-out);
}

.buttonHeart:hover,
.buttonHeart:active { 
    background-color: fn.get-color('accent-primary');
}

.iconHeart {
  fill: transparent;
  stroke: fn.get-color('accent-primary');

  @include mx.transition(all, 300ms, ease-in-out);
}

.iconHeart:hover,
.iconHeart:active {
    stroke: fn.get-color('light'); 
}

@include mx.mq('md') { 

    .titleNotices {

        margin-bottom: 44px;
        font-size: 54px;
       }

       .containerForm {
        width: 704px;
        padding: 32px;
    }

    
    .form {
        gap: 16px;
        width: 640px;
    }

    .conteinerSearchSelect {
        display: flex;
        gap: 16px;
    }

    .searchField {
        width: 265px;
        margin-left: 0;
    }

    .containerSelect {
        align-items: center;
        gap: 16px;
        margin: 0;
    }

    .categorySelect {
        width: 170px;
    }

    .genderSelect {
        width: 170px;
    }

    .containerTypeLocation {
        flex-direction: row;
        gap: 16px;
    }

    .inputType {
        width: 190px;
    }

    .locationSearch {
       width: 227px;
    }

    .containerRadioButton {
        margin-right: auto;
    }
}

@include mx.mq('lg') { 

    .containerForm {
        width: 1216px;
        padding: 40px;
        justify-content: center;
    }

    .form {
        width: 1120px;
        flex-direction: row;
        gap: 16px;
    }

    .conteinerSearchSelect {
        gap: 16px;
    }

    .search {
        left: 20px;
    }

}