@use '../utils/functions' as fn;
@use '../utils/variables' as var;
@use '../utils/mixins' as mx;
@use '../utils/placeholders';

.listPets {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    padding: 20px 0;
}

.itemPets {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    width: 295px;
    border: 1px solid fn.get-color('dark-secondary');
    border-radius: 20px;
    margin: 14px 0;

    @include mx.transition(all, 300ms, ease-in-out);
}

.itemPets:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.noticesImage {
    width: 46px;
    height: 46px;
    border-radius: 100px;
    margin-right: 8px;
}

.wrapperInfo {
  display: flex;
  flex-direction: column;
}

.containerInfo {
    display: flex;
    flex-wrap: wrap;
    width: 174px;
    gap: 10px;
}

.noticesTitle {
  @extend %subtitle;

  font-size: 14px;
  margin-bottom: 10px;
}

.description {
  display: flex;
  flex-direction: column;

  @extend %subtitle;

  font-size: 12px;
}

.spanDescription {
  font-size: 10px;
  margin-bottom: 4px;
  color: fn.get-color('dark-light');
}

.buttonTrash {
  @include mx.frame(30px, 30px, true);
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: fn.get-color('accent-secondary');

  @include mx.transition(all, 300ms, ease-in-out);

  .iconTrash {
    fill: transparent;
    stroke: fn.get-color('accent-primary');
    @include mx.transition(all, 300ms, ease-in-out);
  }

  &:hover,
  &:active {
    background-color: fn.get-color('accent-primary');

    .iconTrash {
      stroke: fn.get-color('light'); 
    }
  }
}

  @include mx.mq('md') {  
    .listPets { 
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 14px;
      width: 624px;
    }

    .itemPets {
      margin: 0;
      width: 305px;
    }

  }

  @include mx.mq('lg') { 
  .containerPets {
      display: flex;
      justify-content: center;
      align-items: center;
}  
  .listPets { 
      flex-direction: column;
      width: 520px;
    }

  .itemPets {
      width: 440px;
    }

  .noticesImage {
    width: 80px;
    height: 80px;
}

.containerInfo {
  width: 100%;
}

}

