@use '../utils/functions' as fn;
@use '../utils/variables' as var;
@use '../utils/mixins' as mx;
@use '../utils/placeholders';

.listPets {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 0;
}

.itemPets {
    display: flex;
    padding: 16px;
    width: 295px;
    border: 1px solid fn.get-color('dark-secondary');
    border-radius: 20px;
    margin: 20px 0;
}

.noticesImage {
    width: 66px;
}

.wrapperInfo {
  display: flex;
  flex-direction: column;
}

.containerInfo {
    display: flex;
}

.description {
    display: flex;
    flex-direction: column;
}

.buttonHeart {
    @include mx.frame(46px, 46px, true);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: fn.get-color('accent-secondary');
  
    @include mx.transition(all, 300ms, ease-in-out);
  
    &:hover,
    &:active {
      background-color: fn.get-color('accent-primary');
  
      .iconHeart {
        stroke: fn.get-color('light');
      }
    }
  
    .iconHeart {
      fill: transparent;
      stroke: fn.get-color('accent-primary');
      @include mx.transition(all, 300ms, ease-in-out);
    }
  }

