@use 'sass:map';
@use '../utils/functions' as fn;
@use '../utils/variables' as var;
@use '../utils/mixins' as mx;
@use '../utils/placeholders';

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.containerImg {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    padding-top: 50px;
    max-height: 280px;
    height: 100%;
    max-width: 335px;
    width: 100%;
    background-color: fn.get-color('accent-primary');
    overflow: hidden;
}

.containerForm {
    width: 335px;
    height: 422px;
    background-color: fn.get-color('light');
    border-radius: 30px;
    padding: 60px 20px;
}

.formAuth {
    margin: 0 auto;
    margin-bottom: 10px;

}

.titleForm {
    font-size: 28px;
    font-weight: map.get(var.$font-weights, "Bold");
    line-height: 1;
    letter-spacing: -0.04%;
    margin-bottom: 12px;
}

.textForm {
    @extend %text;

    font-size: 14px;
    margin-bottom: 24px;
}

.errorMsg {
    @extend %text;

    color: fn.get-color('red-color');
    font-size: 12px;
}

.linkForm {
  display: block;

  @extend %text;
  font-size: 12px;
  margin-top: 12px;
  text-align: center;
  color: fn.get-color('dark-primary');
}

.span {
    color: fn.get-color('accent-primary');
}

.containerNone {
    width: 294px;
    background-color: fn.get-color('light');
    border-radius: 20px;
    padding: 16px;
    display: none;
    margin-bottom: -48px;
    margin-right: -40px;
}

.containerAvatar {
    display: flex;
    gap: 8px;
}

.containerInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
}

.name {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.2px;
    letter-spacing: -0.03em;
    color: fn.get-color('accent-primary');
}

.data {
    @extend %text;

    font-size: 12px;
}

.description {
    @extend %text;

    font-size: 12px;
}

.avatar {
    @include mx.frame(180px, 50px, true);
    background-color: fn.get-color('accent-secondary');
    position: relative;
}

.iconAvatar {
    fill: fn.get-color('light');
    position: absolute;
    top: 10px;
    left: 11px;
    z-index: 9;
}

@include mx.mq('md') { 
    .wrapper {
        gap: 16px;
    }

    .containerImg {
        padding-top: 30px;
        max-width: 704px;
    }

    .imgAuth {
        max-width: 300px;
        width: 100%;
    }

    .containerForm {
        width: 704px;
        height: 560px;
        padding: 70px 0;
    }

    .formAuth {
        width: 424px;
        margin-bottom: 16px;
}

    .titleForm {
        font-size: 54px;
        font-weight: map.get(var.$font-weights, "Bold");
        line-height: 0.5;
        text-align: center;
        margin-bottom: 16px;
}

    .textForm {
        font-size: 18px;
        margin-bottom: 32px;
        text-align: center;
    }

    .login {
        margin-bottom: 64px;
    }

    .btnAuth{
        margin-top: 32px;
    }

    .containerNone {
        display: block;
    }

}

@include mx.mq('lg') {
    .wrapper {
        flex-direction: row;
        gap: 32px;
    }

    .containerImg {
        padding-top: 50px;
        max-height: 660px;
        height: 100%;
        width: 592px;
        position: relative;
    }

    .imgAuth {
        max-width: 512px;
    }

    .containerForm {
        width: 592px;
        height: 660px;
        padding: 118px 84px;
    }

    .titleForm {
        font-size: 54px;
        margin-bottom: 16px;
    }

    .containerNone {
        position: absolute;
        left: 60px;
        bottom: 98px;
        
    }
    
}

