@use '../utils/functions' as fn;
@use '../utils/variables' as var;
@use '../utils/mixins' as mx;
@use '../utils/placeholders';

.formSearch {
    width: 335px;
    margin-bottom: 24px;
}

.inputSearch {
   position: relative;
}

.iconSearch {
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%);
    fill: transparent;
    stroke: fn.get-color('dark-primary');
}

@include mx.mq('md') { 
    .formSearch {
        width: 230px;
        margin-bottom: 44px;
    }

    .iconSearch {
        left: 100%;
    }
}

@include mx.mq('lg') { 
    .formSearch {
        margin-bottom: 60px;
    }

}