@use '../utils/functions' as fn;
@use '../utils/variables' as var;
@use '../utils/mixins' as mx;
@use '../utils/placeholders';

.btnLogOut {
    background-color: fn.get-color('accent-secondary');
    color: fn.get-color('accent-primary');
    width: 114px;
    height: 42px;

    @include mx.transition(all, 300ms, ease-in-out);
}

.btnLogOut:active,
.btnLogOut:hover {
    background-color: fn.get-color('accent-primary');
    color: fn.get-color('light');
} 

@include mx.mq('md') {
    .btnLogOut {
        width: 136px;
        height: 50px;
    }
}