@mixin frame($width, $height, $is-circle: false) {
    width: $width;
    height: $height;

    @if $is-circle {
        border-radius: 50%;
        overflow: hidden;
    }

    img {
        object-fit: cover;
        object-position: top center;
    }
};


@mixin transition($properties, $duration: 300ms, $timing: ease) {
  transition-property: $properties;
  transition-duration: $duration;
  transition-timing-function: $timing;
}