%main-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -0.02em;
}


%subtitle-mobile {
    font-size: 28px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -0.03em;
}

%subtitle {
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.03em;
}

%text {
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -0.02em;
}

%text-news {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: -0.02em;
}
