$breakpoints: (
    'sm': 375px,
    'md': 768px,
    'lg': 1280px,
);

$colors: (
    "light": #FFFFFF,
    "accent-primary": "#F6B83D",
    "accent-secondary": "#FFF4DF",
    "dark-primary": "#262626",
    "dark-secondary": rgba(38, 38, 38, 0.15),
    "green-color": "#08AA83",
    "red-color": "#EF2447",
    "trasparent": transparent,
    "current": currentColor
);

$main-fonts: "Manrope";

$font-weights: (
    "Medium": 500,
    "Bold": 700,
);

$easings: (
   'fast': 300ms ease,
   'slow': 600ms eas,
);

