$breakpoints: (
    'sm': 375px,
    'md': 768px,
    'lg': 1280px,
);

$colors: (
    "light": #FFFFFF,
    "light-bg": #F9F9F9,
    "accent-primary": #F6B83D,
    "accent-secondary": #FFF4DF,
    "dark-primary": #262626,
    "dark-secondary": rgba(38, 38, 38, 0.15),
    "dark-light": rgba(38, 38, 38, 0.5),
    "green-color": #08AA83,
    "red-color": #EF2447,
    "light-red": rgba(244, 63, 94, 0.1),
    "blue-color": #54ADFF,
    "light-blue": rgba(84, 173, 255, 0.1),
    "trasparent": transparent,
    "current": currentColor
);

$main-fonts: "Manrope";

$btn-padding-x: 14px !default;
$btn-padding-y: 14px !default;
$btn-width: 100% !default;
$btn-layer-spacing: 0px !default;
$btn-layer-border-radius: 30px !default;

$btn-text-size: 14px !default;
$btn-text-transform: uppercase !default;
$btn-text-width: 700 !default;
$btn-line-height: 20px !default;
$btn-text-spacing: 0.5px !default;
$btn-border: none !default;

$btn-types: (
    primary, 
    secondary
);

$font-weights: (
    "Medium": 500,
    "Bold": 700,
);

$easings: (
   'fast': 300ms ease,
   'slow': 600ms ease,
);

