$btn-padding-x: 14px !default;
$btn-padding-y: 35px !default;
$btn-layer-min-width: 118px !default;
$btn-layer-min-height: 50px !default;
$btn-layer-spacing: 0px !default;
$btn-layer-border-radius: 30px !default;

$btn-text-size: 16px !default;
$btn-text-width: 700 !default;
$btn-line-height: 20px !default;
$btn-text-spacing: 0.5px !default;
$btn-text-color: #FFFFFF !default;

.btn {
    display: inline-flex;
    align-items: center;
    gap: $btn-layer-spacing;

    min-width: $btn-layer-min-width;
    min-height: $btn-layer-min-height;
    padding: $btn-padding-y $btn-padding-x;
    color: $btn-text-color;
    border-radius: $btn-layer-border-radius;

    transition-property: background-color, color, box-shadow;
    transition-duration: 300ms;
    transition-timing-function: ease;

    font: inherit;
    text-transform: none;
    background-color: transparent;
    border: 1px solid transparent;

    margin: 0;
    overflow: visible;
    cursor: pointer;

    .btn-inner {
        font-size: $btn-text-size;
        font-weight: $btn-text-width;
        line-height: #{calc($btn-line-height / $btn-text-size)};
        letter-spacing: #{calc($btn-text-spacing / $btn-text-size)};
    }

    .btn-icon {
        fill: currentColor;
    }
}



