@use '../../utils/mixins' as *;
@use '../../utils/variables' as *;

.btn {
    display: inline-flex;
    align-items: center;
    gap: $btn-layer-spacing;

    min-width: $btn-layer-min-width;
    min-height: $btn-layer-min-height;
    padding: $btn-padding-y $btn-padding-x;
    color: $btn-text-color;
    border-radius: $btn-layer-border-radius;
    border: $btn-border;

    @include transition(background-color, color, box-shadow);

        font-size: $btn-text-size;
        font-weight: $btn-text-width;
        line-height: #{calc($btn-line-height / $btn-text-size)};
        letter-spacing: #{calc($btn-text-spacing / $btn-text-size)};

    .btn-icon {
        fill: currentColor;
    }
}

.input {
    display: inline-flex;
    align-items: center;
    gap: $btn-layer-spacing;

    min-width: $btn-layer-min-width;
    min-height: $btn-layer-min-height;
    padding: $btn-padding-y $btn-padding-x;
    color: $btn-text-color;
    border-radius: $btn-layer-border-radius;

    @include transition(background-color, color, box-shadow);

        font-size: $btn-text-size;
        font-family: $main-fonts;
        font-weight: $btn-text-width;
        line-height: #{calc($btn-line-height / $btn-text-size)};
        letter-spacing: #{calc($btn-text-spacing / $btn-text-size)};

    .btn-icon {
        fill: currentColor;
    }
}

