@use '../../utils/mixins' as *;
@use '../../utils/variables' as *;

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: $btn-layer-spacing;

    min-width: $btn-width;
    padding: $btn-padding-y $btn-padding-x;
    text-transform: $btn-text-transform;
    border-radius: $btn-layer-border-radius;
    border: $btn-border;

    @include transition(background-color, color, box-shadow);

        font-size: $btn-text-size;
        font-weight: $btn-text-width;
        line-height: #{calc($btn-line-height / $btn-text-size)};
        letter-spacing: #{calc($btn-text-spacing / $btn-text-size)};

}

.input {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: $btn-layer-spacing;

    min-width: $btn-width;
    padding: $btn-padding-y $btn-padding-x;
    border-radius: $btn-layer-border-radius;
    border: $btn-border;

    @include transition(background-color, color, box-shadow);

        font-size: $btn-text-size;
        line-height: #{calc($btn-line-height / $btn-text-size)};
        letter-spacing: #{calc($btn-text-spacing / $btn-text-size)};
}

