@forward './types/primary';
@forward './types/secondary';


$btn-padding-x: 14px !default;
$btn-padding-y: 35px !default;
$btn-layer-min-width: 118px !default;
$btn-layer-min-height: 50px !default;
$btn-layer-spacing: 0px !default;
$btn-layer-border-radius: 30px !default;

$btn-text-size: 16px !default;
$btn-text-width: 700 !default;
$btn-line-height: 20px !default;
$btn-text-spacing: 0.5px !default;
$btn-text-color: #FFFFFF !default;

$btn-types: (
    primary, 
    secondary
);