.btn--primary {
    background-color: #F6B83D;

    &:active {
        background-color: #FFF4DF;
    }

    @media (hover: hover) {
        &:hover,
        &:focus {
            background-color: #FFF4DF;
            color: #F6B83D;
        }
    }
}

