@use 'sass:map';
@use '../utils/functions' as fn;
@use '../utils/variables' as var;
@use '../utils/mixins' as mx;
@use '../utils/placeholders';

.headerWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 0;
}