@use 'sass:map';
@use '../utils/functions' as fn;
@use '../utils/variables' as var;
@use '../utils/mixins' as mx;
@use '../utils/placeholders';

.headerWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 0;
}

.headerWidth {
    padding: 32px 20px;
}

.burgerMenu {
    display: block;
    border: none;
    background-color: transparent;
}

.burgerMenu .burgerHome {
    fill: transparent;
    stroke: fn.get-color('light');
}

.iconBurger {
    fill: transparent;
    stroke: fn.get-color('dark-primary');
}

.navContainer {
    display: none;
}

.appBar {
    display: none;
}

.authInitial {
    @include mx.frame(50px, 50px, true);

    background-color: fn.get-color('accent-secondary');
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    @include mx.transition(all, 300ms, ease-in-out);

    &:hover,
    &:active {
        background-color: fn.get-color('accent-primary');

        .iconUser {
            fill: fn.get-color('light');
        }
    }

    .iconUser {
        fill: fn.get-color('accent-primary');
    }
}

@include mx.mq('lg') {
    .headerWrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
    }

    .headerWidth {
        padding: 32px 64px;
    }

    .navContainer {
        display: block;
    }

    .appBar {
        display: flex;
    }

    .burgerMenu {
        display: none;
    }
    
    .authContainer {
        display: flex;
        gap: 8px;
    }
    
}