@use 'sass:map';
@use '../utils/functions' as fn;
@use '../utils/variables' as var;
@use '../utils/mixins' as mx;
@use '../utils/placeholders';

.headerWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 0;
}

.burgerMenu {
    display: block;
    border: none;
    background-color: transparent;
}

.iconBurger {
    fill: transparent;
    stroke: fn.get-color('dark-primary');
}

.navContainer {
    display: none;
}

.appBar {
    display: none;
}

.authInitial {
    display: none;
}

.authInitial {
    @include mx.frame(50px, 50px, true);

    background-color: fn.get-color('accent-secondary');
    display: flex;
    align-items: center;
    justify-content: center;

}

.iconUser {
    fill: fn.get-color('accent-primary');
}

@include mx.mq('md') {

}

@include mx.mq('lg') {
    .headerWrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 32px 0;
    }

    .navContainer {
        display: block;
    }

    .appBar {
        display: flex;
    }

    .burgerMenu {
        display: none;
    }
    
    .authContainer {
        display: flex;
        gap: 8px;
    }
    
}